*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Georgia, serif;
}

body{
    background:#121212;
    color:#f5f5f5;
}

.barra-superior{
    background:#1a1a1a;
    padding:15px 40px;
    border-bottom:1px solid #2a2a2a;
}

.barra-superior h1{
    color:#e0c097;
}

.contenedor-principal{
    display:grid;
    grid-template-columns: 250px 1fr 300px;
    gap:30px;
    padding:30px;
}

.menu-lateral{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.menu-lateral a{
    text-decoration: none;
    color: inherit;
    display: block;
}


.opcion-menu{
    padding:12px;
    border-radius:10px;
    cursor:pointer;
    transition:0.3s;
}

.opcion-menu:hover{
    background:#2a2a2a;
    color:#e0c097;
}



.seccion-publicaciones{
    display:flex;
    flex-direction:column;
    gap:30px;
}


.publicacion{
    background:#1e1e1e;
    padding:15px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.5);
}


.encabezado-publicacion{
    display:flex;
    align-items:center;
    gap:10px;
    margin-bottom:10px;
}

.encabezado-publicacion img{
    width:40px;
    height:40px;
    border-radius:50%;
    object-fit:cover;
}


.imagen-publicacion{
    width:100%;
    border-radius:10px;
    margin-bottom:10px;
}


.contenido-texto{
    padding:40px;
    text-align:center;
    font-size:1.2rem;
    background:#2c1f14;
    border-radius:10px;
    color:#f3d9b1;
    margin-bottom:10px;
}


.acciones{
    display:flex;
    gap:20px;
    font-size:19px;
    margin-bottom:5px;
    cursor:pointer;
}

.acciones i:hover{
    color:#e0c097;
}

.contador-likes{
    font-size:15px;
    color:#ccc;
    margin-bottom:8px;
}

.descripcion{
    margin-bottom:10px;
}

.publicacion input{
    width:100%;
    padding:8px;
    background:#121212;
    border:none;
    border-top:1px solid #2a2a2a;
    color:#fff;
}


.panel-derecho{
    display:flex;
    flex-direction:column;
    gap:20px;
}

.tarjeta{
    background:#1e1e1e;
    padding:20px;
    border-radius:15px;
}