body {
    margin: 0%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img\ sign\ in/i2.png");
}

.caja{
    height:auto;
    width: 60vw;
    max-width: 1600px;
    padding: 10px 10%; /*40px*/
    background: rgba(80, 55, 30, 0.55);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    transition: all 0.3s ease-in-out;

    margin: 0 auto;
    box-sizing: border-box;
}

.toggle{
    display: none;
}

.niveles{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.niveles label{
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    margin: 6px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    color:#f5e6c8;
    background: linear-gradient(145deg, #8c6239, #6e4b2a);
    transition: 0.3s;
}

/*flechas en los botones*/
.nivel{
    position: relative;
    padding: 15px 45px 15px 20px; /* espacio a la derecha */
    background: #8c6239;
    color: #f5e6c8;
    border-radius: 12px;
    cursor: pointer;
    gap: 3%;
}

.niveles input:checked + label {
    background: linear-gradient(145deg, #6b4727, #4e331c);
    box-shadow: 
        inset 0 4px 10px rgba(0,0,0,0.6),
        0 2px 5px rgba(0,0,0,0.4);
    color: #f5e6c8;
}

.caja h2{
    text-align: center;
    margin-bottom: 30px;
    color: #f5e6c8;
    font-size:xx-large;

}

.caja h3{
    color: #f5e6c8;
    text-align: center;
    font-size:medium;

}

.nivel-item {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toggle:checked + label + .contenido{
    max-height: 300px;
}

.nivel-item > label::after{
    content: "";
    position: absolute;
    right: 20px;
    width: 8px;
    height: 8px;
    border-right: 3px solid #f5e6c8;
    border-bottom: 3px solid #f5e6c8;
    transform: rotate(45deg);
    transition: 0.3s ease;
}

.toggle:checked + label::after{
    transform: rotate(225deg);
}

.contenido{
    width: 100%;
    max-width: 600px;
    margin-top: 0px;
    padding: 0px;
    border-radius: 16px;

    background-color: #7b5230; /* color sólido elegante */
    
    max-height: 0;
    overflow: hidden;
    opacity: 0;

    transition: max-height 0.4s ease;
    display: flex;
    flex-direction: column;
}

.toggle:checked + .nivel + .contenido{
    max-height: 300px;
    opacity: 1;
}

.nivel-item:has(.toggle:checked){
    pointer-events: auto;
    opacity: 1;
}
.toggle:checked + .nivel{
    pointer-events: auto;
    opacity: 1;
}

.tema{
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 14px 18px;
    border-radius: 10px;

    font-size: 16px;
    color: #f5e6c8;
    cursor: pointer;

    transition: 0.3s ease;
}

.tema:hover{
    background-color: rgba(255,255,255,0.08);
}

/*oculta el checkbox predeterminado*/
.tema input[type="checkbox"]{
    appearance: none;
    width: 18px;
    height: 18px;
    border: 2px solid #f5e6c8;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    transition: 0.3s ease;
}

/*diseño del checkbox*/
.tema input[type="checkbox"]:checked{
    background-color: #3b2414;
    border-color: #3b2414;
}

.tema input[type="checkbox"]:checked::after{
    content: "✔";
    color: #f5e6c8;
    font-size: 12px;
    position: absolute;
    left: 2px;
    top: -1px;
}



