*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;     
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.contenedor_publicacion{
    border: 5px solid black;
    width: 500px;
    height: 900px;
    margin-bottom: 400px;
    border-radius: 20px;
    margin-top: 100px;

}

.contenedor_publicacion figure{
    height: 500px;
    overflow: hidden;
}

.contenedor_publicacion figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.botonesfun{
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.contenedor_publicacion .botonesfun input{
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: none;
    background-color: #af231c;
    font-size: 15px;
    color: white;
    border: none;
}

.botonesfun input:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.contenedor_publicacion .info{
    padding: 20px;
    margin-top: 20px;
}
.contenedor_publicacion .info input {
    height: 150px;
    width: 450px;
    border-radius: 10px;
}

.contenedor_publicacion .botones_inferiores{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.contenedor_publicacion .botones_inferiores button{
    width: 150px;
    height: 50px;
    border-radius: 20px;
    background-color: #af231c;
    font-size: 20px;
    color: white;
    border: none;
}

.contenedor_publicacion .botones_inferiores button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}


