*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

#conteItemsCarrusel{
    border: 5px solid black;
    height:  250px;
overflow: hidden;

}

}
.itemCarrusel{

height: 100%;
position: relative;
animation: slide 16s infinite;
display: flex;
}
.tarjetaCarrusel{
    background-color: aqua;
    height: 100%;
}

.flechasCarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 20px;   
}

a{
    text-decoration: none;
}

img{
    height: 100%;
    width: 100%;
}

    

