*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


.titulo {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.all {
    height: 500px;
    width: 400px;
    margin-top: 90px;
    margin-left: 440px;
    border-radius: 20px;
    transition: all 0.5s ease;
    border: 5px solid #000;
}

input {
    border-radius: 10px;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    height: 100%;
    width: 100%;
}

.titulo2 {
    margin-top: 30px;
}

.usuario{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.contra {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

input {
    height: 50px;
    width: 230px;
    padding: 10px;
}
.all:hover {
    transform: translateY(-5px);
    box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
}

h2:hover {
    transform:translateY(-5px);
    transition: all 0.3s ease;
}
input:hover {
    transform: translateY(-5px);    
    transition: all 0.3s ease;
}

.b {
    border-radius: 10px;
    width: 200px;
    height: 40px;
    
}

button {
    margin-top: 30px;
    background-color:brown;
    text-decoration: none;
    
}

button:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    
    
}




