*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.all {
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 400px;
    height: 500px;
    padding: 40px;
    gap: 50px;
    margin-top: 50px;
    transition: all 0.3s ease;
}

input{
    border-radius: 20px;
    height: 40px;
    width: 300px;
    padding: 10px;
}

button{
    border-radius: 20px;
    width: 150px;
    height: 40px;
    
}

.f {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

form {
      display: flex;
    flex-direction: column;
    align-content: center;
    width: 400px;
    height: 500px;
    padding: 40px;
    gap: 50px;
    margin-top: 50px;
    transition: all 0.3s ease;  
}


.all:hover {
    transform: translateY(-8);
    box-shadow: 10px 10px 2cap rgba(0,0,0,0.7);
   
}
